.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-one-third {
  width: calc(100% / 3);
}

.column-one-fourth {
  width: 25%;
}

.column-two-thirds {
  width: cal(200% / 3);
}

.column-half {
  width: 50%;
}

.images {
  width: 100%;
}
