* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.container {
  width: 100%;
}

h1 {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  padding: 0 15%;
}

.shoppingItems {
  width: 100%;
  height: 100%;
  padding: 5%;
}

.column-full {
  width: 100%;
}

.column-fifth {
  width: 20%;
}

del {
  text-decoration: line-through;
  color: lightgrey;
}

ins {
  text-decoration: none;
  background-color: peachpuff;
}

span.size {
  color: lightgrey;
}

p {
  text-align: left;
}
