.container {
  text-align: center;
  font-family: 'Karla', sans-serif;
  padding: 3rem;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-fourth {
  width: 25%;
}

.learnMore {
  font-family: 'Karla', sans-serif;
  border: solid;
  border-color: red;
  color: red;
  padding: 20px 30px 20px;
  margin: auto;
  background-color: white;
  width: 15em;
  height: 4em;
}
